[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
koalas = "*"
pyspark = "==2.4.0"
pandas = "*"
numpy = "*"
xgboost = "*"
scikit-learn = "*"
h2o = "==3.32.1.1"
"h2o-pysparkling-2.4" = "==3.32.1.1-1"

[dev-packages]
notebook = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
